<html>
  <head>
    <title>Welcome to Our Service</title>
  </head>
  <body>
    <h1>Hello, <%= username %>!</h1>
    <p>Welcome to our service. We're excited to have you on board!</p>
    <p>Your verification code is: <strong><%= verificationCode %></strong></p>
    <p>Please use this code to complete your registration process.</p>
  </body>
</html>
